@font-face {
    font-family: 'IRANSans';
    src: url(IranSans/IRANSansWeb_Medium.eot);
    src: url(IranSans/IRANSansWeb_Medium.eot?#iefix) format("eot"),url(IranSans/IRANSansWeb_Medium.woff2) format("woff2"),url(IranSans/IRANSansWeb_Medium.woff) format("woff"),url(IranSans/IRANSansWeb_Medium.ttf) format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'BYekan';
    src: url(byekan/byekan.eot);
    src: local(☺),url(byekan/byekan.woff) format("woff"),url(byekan/byekan.ttf) format("truetype"),url(byekan/byekan.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Yekan";
    src: url(byekan2/yekan.eot);
    src: url(byekan2/yekan.eot?#iefix) format("embedded-opentype"),url(byekan2/yekan.woff) format("woff"),url(byekan2/yekan.ttf) format("truetype"),url(byekan2/yekan.svg#yekan) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansfa';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}